  {% extends 'base.html' %}
{% block content %}
  <form id="form_id" action="/create/post/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Create New Post</h4>
    </div>
    <div class="modal-body center">
      
        <p>
          {{ form.write_post.label_tag }}
          {{ form.write_post }}
        </p>
        <p>
          {{ form.pic.label_tag }}
          {{ form.pic }}
        </p>
  
    </div>
    <input type="submit" name="add" value="Post" />
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
 <!--  <script type="text/javascript">
    $(document).ready(function() {
        $('#form_id').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: 'json', // get the form data
                type: 'POST', // GET or POST
                url: '/create/post/', // the file to call
                success: function(response) { // on success..
                    $('#success_div').html(response);
                },
                error: function(e, x, r) { // on error..
                    $('#error_div').html(e); '// update the DIV'
                }
            });
            return false;
        });
    });
  </script> -->
{% endblock %}