{% extends 'base.html' %}
{% block content %}
<h4><a href="/home" class="btn btn-info btn-sm">Home</a>
<a href="/create/post/" class="btn btn-info btn-sm" data-toggle="modal" data-target="#postmodel">NewPost</a></h4>
  <div class="container" align="center">
    <div class="panel-heading">
      <h3 class="panel-title">View Post</h3>
    </div>
    
   {% if post_list  %}
      {% for post in post_list %}
        <p>Post by {{ post.name }}</p>
        <p>
          <img src="/{{ post.pic }}"  height="150" width="200">
          {% if user.id == post.user_id %}
            <a href="/edit/post/{{ post.slug }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">Edit</span></a>
            <a href="/delete/post/{{ post.id }}" class="btn btn-info btn-sm" class="top-menu"><span class="glyphicon glyphicon-trash">Delete</span></a>
        </p>
        {% else %}
          <p></p>
        {% endif %} 
        </p>
        <p>{{ post.upload_date }}</p> 
        <a class="comment_button" id="{{post.id}}">Comment</a> 
        <div class='panel' id="slidepanel{{post.id}}">       
          <form class="comment_form_id" action="" id="{{post.id}}" method="post">
            {% csrf_token %}
            <input type="text" id="text" placeholder='Write comment...' />
            <input type="hidden" name="post_id"  id="">
            <input type="submit" value="Comment" />
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>No post is available.</p>
    {% endif %}
    
    <div class="modal fade" id="postmodel" role="dialog">
      <div class="modal-dialog">
         Modal content
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}

<script type="text/javascript" >
  $(document).ready(function(){
     setInterval("my_function();",1000); 
 
    function my_function(){
        window.location = location.href;
    }
    $('.panel').hide();
    $(".comment_button").click(function(){

      var element = $(this);
      var I = element.attr("id");

      $("#slidepanel"+I).slideToggle(300);
      $(this).toggleClass("active"); 

      return false;
    });
  });
 
  $(document).on('submit','.comment_form_id',function(e) { 
    e.preventDefault();
    var element = $(this);
    var post_id = element.attr("id");
    $.ajax({ 
      type: 'POST',
      url:'/create/comment/',
      data:{
        post_id : post_id,
        comment_text : $('#text').val(),
        csrfmiddlewaretoken:'{{ csrf_token }}'
      },
      // dataType: "json",
      success: function() { // on success..
        alert('comment successfull')
      },
      error: function() { // on error..
        alert('comment unsuccessfull')
      }
    });
    return false;
  });
  </script>
{% endblock %}
