{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Please Sign Up</h3>
          </div>
          <div class="panel-body">
            <form method="post" action=".">{% csrf_token %}
              <p class="bs-component">
                {{ form.as_p }}
                {{ registrationprofile.as_p }}
              </p>
              <p class="bs-component">
                <center>
                  <input class="btn btn-success btn-sm" type="submit" value="register" />
                  <a href="/" class="btn btn-success btn-sm">Login</a>
                </center>
              </p>
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
    <script>
    {% if not user.is_authenticated %}
    $("ul.nav.navbar-nav.navbar-right").css("display","none");
    {% endif %}
    </script>
    <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1980:2020",
      // You can put more options here.

    });
  });
  </script>
{% endblock %}