{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <!-- Core CSS - Include with every page -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.css.map" rel="stylesheet">
    <link href="/static/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/static/bootstrap/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <!-- Core JS - Include with every page -->
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/jquery.dataTables.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-editable.min.js"></script>
    <script src="/static/bootstrap/js/jquery-ui.js"></script>
    <script src="/static/bootstrap/js/endlessscroll.js"></script>
    <script src="/static/bootstrap/js/comment_form.js"></script>
    <!-- <script>
    alert('{{ message }}');
    </script> -->
  </head>
  <body>
    {% block head %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
  </body>
</html>
